#top .av-special-heading.av-l0s1snso-33885633a2650354525eb6fc37633443{
padding-bottom:10px;
}

.avia-image-container.av-l0s1hz8j-dfffa0d4f2346a2f6aa6f6529d000e5f .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-l6g8s8oh-9d25b0e76ce0f46f843ffae5cdb976ee{
padding-bottom:10px;
}

.avia-image-container.av-l6g8un09-4a0e8f69772b99efa858ad0224ade985 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-l6g8vfr5-c445ad15d6595cc8372efefa13868250 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-l6g8zkqg-ae8032c9c076c690f6f4df140927566b .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-l6g907v5-cca177c97b4a2d725a77f6781ef3e713 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-l6g90w90-decdf658adb09bfe34fa284f6fa5ffc9 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-section.av-n4vm7d-535cea1aa8bb5f735e22817bd76219b6{
background-color:#000000;
}

#top .av-special-heading.av-fa7v1l-a4fa990bf910cbbe7633674325b8b9f0{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-fa7v1l-a4fa990bf910cbbe7633674325b8b9f0 .special-heading-inner-border{
border-color:#ffffff;
}
body .av-special-heading.av-fa7v1l-a4fa990bf910cbbe7633674325b8b9f0 .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-fa7v1l-a4fa990bf910cbbe7633674325b8b9f0 .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

.av_textblock_section.av-djfx0p-c71027658c74283cae7cbbb4deec2b44 .avia_textblock{
color:#ffffff;
}

