#top .av-special-heading.av-36j13-aa11184412c2e99fcfa7419bbc530165{
padding-bottom:10px;
}

.avia-section.av-3dsdf-990af66358fa3daa98668c5c4cf3723e{
background-color:#000000;
}

#top .av-special-heading.av-1hdbz-85cbf19134bbc998889f2c440ac6dc2d{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-1hdbz-85cbf19134bbc998889f2c440ac6dc2d .special-heading-inner-border{
border-color:#ffffff;
}
body .av-special-heading.av-1hdbz-85cbf19134bbc998889f2c440ac6dc2d .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-1hdbz-85cbf19134bbc998889f2c440ac6dc2d .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

.avia-image-container.av-kzvqp0h4-4c446120476f4e867e9aef068494737e .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-section.av-2pycj-1aab46e2891e64b95491b172a01f2190{
background-color:#000000;
}

#top .av-special-heading.av-kzv5g6t4-f3ee860c29e2a1d16e323767dcaa03b5{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-kzv5g6t4-f3ee860c29e2a1d16e323767dcaa03b5 .special-heading-inner-border{
border-color:#ffffff;
}
body .av-special-heading.av-kzv5g6t4-f3ee860c29e2a1d16e323767dcaa03b5 .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-kzv5g6t4-f3ee860c29e2a1d16e323767dcaa03b5 .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

.av_textblock_section.av-l3ln4g4a-0346be96e73ff61249e71e819e9738a2 .avia_textblock{
color:#ffffff;
}

.avia-image-container.av-l3ln3sn7-6755cc47f711b85cc588fdb28fc10e0a .av-image-caption-overlay-center{
color:#ffffff;
}

.av_textblock_section.av-l3lmxouw-6a73d9420b148db5a3f632e2e12594c4 .avia_textblock{
color:#ffffff;
}

.avia-image-container.av-l3lmyxf7-fc0edab6c6cf7322d42e70f316d05653 .av-image-caption-overlay-center{
color:#ffffff;
}

.av_textblock_section.av-l3ln97z4-b00c95dd86e693b19f37cd399368dce6 .avia_textblock{
color:#ffffff;
}

.avia-image-container.av-l3ln9zgl-5dfa03b7985b2c9d75c5745e86a8211d .av-image-caption-overlay-center{
color:#ffffff;
}

.av_textblock_section.av-l3ln6h05-ea8f629f4c289c833b6be8a43f24ea28 .avia_textblock{
color:#ffffff;
}

.avia-image-container.av-l3ln766r-7b69b8c3ef69089a821dfd7994ff170a .av-image-caption-overlay-center{
color:#ffffff;
}

.av_textblock_section.av-l3lna6r6-b51f06b8c3b240d0db0a6306fec0cfaa .avia_textblock{
color:#ffffff;
}

.avia-image-container.av-l3lnavu3-9dbc971f72f76c38d63d645e5592001a .av-image-caption-overlay-center{
color:#ffffff;
}

.av_textblock_section.av-l3lnbdjy-8707b00302057572baa0eb52c996ccd7 .avia_textblock{
color:#ffffff;
}

.avia-image-container.av-l3lnc3k5-ee6e6d87fa682abf13fb037800c197cf .av-image-caption-overlay-center{
color:#ffffff;
}

.av_textblock_section.av-l3lneiwb-18dbcfafa9b14585664330753ad5ffcc .avia_textblock{
color:#ffffff;
}

.avia-image-container.av-l3lnf83f-c28fdf04a8beb0aaa7fb6dc80f2d4831 .av-image-caption-overlay-center{
color:#ffffff;
}

.av_textblock_section.av-l3lnfq58-013c74e776c80b62ed4430d75de14037 .avia_textblock{
color:#ffffff;
}

.avia-image-container.av-l3lngeh2-bacce3dd03bb1cf9690bd1a5e136a41c .av-image-caption-overlay-center{
color:#ffffff;
}

.av_textblock_section.av-l3lngt7h-ee69eb8e4631998be5b40c034a728ab1 .avia_textblock{
color:#ffffff;
}

.avia-image-container.av-l3lnhhyz-87da8276f717e0c4d0f98014ff44935f .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-section.av-17x1yz-1f17b8f9c17afac34fe6628c5bbac2e1{
background-color:#ffffff;
}

#top .av-special-heading.av-oygo3-10cdddc53325d009f8540cb40f37495c{
padding-bottom:10px;
}

.avia-section.av-l1dx4vkd-c7188d2db653ab3a081d040e8058d944{
background-color:#ffffff;
}

.avia-image-container.av-rgz5n-0d0a7378103fb6960a6a7ae370ca09cf .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-section.av-19l9er-996b2a39a8a575a747085649036b71b1{
background-color:#000000;
}

#top .av-special-heading.av-r8263-c1659688be1808fccfa3603653136365{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-r8263-c1659688be1808fccfa3603653136365 .special-heading-inner-border{
border-color:#ffffff;
}
body .av-special-heading.av-r8263-c1659688be1808fccfa3603653136365 .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-r8263-c1659688be1808fccfa3603653136365 .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

.avia-section.av-29zkpf-41a5333a2269a3370d4b41cf2997cbd7{
background-color:#000000;
}

#top .av-special-heading.av-1jla23-7adc31b76a7caa9ada5b49f661b31b0b{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-1jla23-7adc31b76a7caa9ada5b49f661b31b0b .special-heading-inner-border{
border-color:#ffffff;
}
body .av-special-heading.av-1jla23-7adc31b76a7caa9ada5b49f661b31b0b .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-1jla23-7adc31b76a7caa9ada5b49f661b31b0b .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

.av_textblock_section.av-1f3ckz-4bf598cb5d61635aad427fae2524d94a .avia_textblock{
color:#ffffff;
}

