.avia-image-container.av-la8u7g07-bb697501e30f66b88de39106d7c5bd2e .av-image-caption-overlay-center{
color:#ffffff;
}

#top #wrap_all .avia-button.av-pmpybj-43148fc4fd2418c61a8ba7e72b872535:hover{
color:white;
transition:all 0.4s ease-in-out;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
}

#top .av-special-heading.av-mmof67-3cb9992fe8b79599da4f309975ca47d1{
padding-bottom:10px;
}

#top .hr.hr-invisible.av-khxnan-1a52030071b7675c56e6f345228b909a{
height:50px;
}

.av_textblock_section.av-jcn0rz-9a5a5d555c7c37706618194ea477ebfa .avia_textblock{
color:#000000;
}

#top .av-special-heading.av-i2w2nj-4b1b10125b0dadbfde3090d1a3013f7c{
padding-bottom:10px;
color:#000000;
}
.av-special-heading.av-i2w2nj-4b1b10125b0dadbfde3090d1a3013f7c .special-heading-inner-border{
border-color:#000000;
}

#top .hr.hr-invisible.av-gh9j0f-b2a46a79434c55d45abd324fc2fcca6e{
height:50px;
}

.avia-image-container.av-cxjmbj-27b3f01dc725e1f998f39de6488bd76c .av-image-caption-overlay-center{
color:#ffffff;
}

.av_textblock_section.av-949x33-e020106d3a8d9bf6c570f80da4f43768 .avia_textblock{
color:#ffffff;
}

#top .av-special-heading.av-5yxudb-2a5d8ce64ccf2f9bcf5c052654325061{
padding-bottom:10px;
}

