.flex_column.av-5a50rm-1c02e5c56006f04c2f3593b0b064b441{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-k7g2aj8b-ca882f45fc9343a097327eb86a94ce3a{
padding-bottom:10px;
}

.flex_column.av-2i9zgy-674f55c7f03576dc8cb3da81666a1897{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-k03uwh3x-9b7cb412d37abe57587f0c0641f8e1fd{
padding-bottom:10px;
}

.flex_column.av-ckt34-6de06bfd67ef9f3e5f77697c8eec4b25{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jv3yf4xc-c390bb797ef400934f58e22f33d9dd7d .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-we20-9c07f15464cb7aed51d51235fc61a15b{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

