#top .av-special-heading.av-kx3qktoq-fd45beb6dd47cd48a3595a8cd411f62b{
padding-bottom:10px;
}

.avia-section.av-vwy8-011292b887b131b1c7e9f584ef842fae{
background-color:#000000;
}

.flex_column.av-93dcn-4ad843bdab5a876c69d3835720337b0e{
width:100%;
margin-left:0;
}
#top .flex_column_table.av-equal-height-column-flextable.av-93dcn-4ad843bdab5a876c69d3835720337b0e .av-flex-placeholder{
width:0%;
}

#top .av-special-heading.av-kx3q52u6-fe48abbcf3902daf949472687ed83092{
margin:0 0 -10px 0;
padding-bottom:0px;
color:#ffffff;
}
.av-special-heading.av-kx3q52u6-fe48abbcf3902daf949472687ed83092 .av-special-heading-tag{
padding:0 0 -10px 0;
}
.av-special-heading.av-kx3q52u6-fe48abbcf3902daf949472687ed83092 .special-heading-inner-border{
border-color:#ffffff;
}
body .av-special-heading.av-kx3q52u6-fe48abbcf3902daf949472687ed83092 .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-kx3q52u6-fe48abbcf3902daf949472687ed83092 .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

.av_textblock_section.av-l070izop-2732b181c59932dfad9819be4fa04910 .avia_textblock{
color:#ffffff;
}

.avia-section.av-17br3b-f9829985d818da96fb780e04215159c7{
background-color:#ffffff;
}

#top .av-special-heading.av-v4te7-fbd9d090c023a880ad464853a499ed60{
padding-bottom:10px;
}

.avia-section.av-1wdngf-4d61727b3a49b8c25e32c179b808174e{
background-color:#000000;
}

.flex_column.av-1rhien-929e59ff8920b9b78fe7b85d430aa112{
width:100%;
margin-left:0;
}
#top .flex_column_table.av-equal-height-column-flextable.av-1rhien-929e59ff8920b9b78fe7b85d430aa112 .av-flex-placeholder{
width:0%;
}

#top .av-special-heading.av-l0742t0k-51e0e027fba3ea77b2176c2e390a6dad{
margin:0 0 -10px 0;
padding-bottom:0px;
color:#ffffff;
}
.av-special-heading.av-l0742t0k-51e0e027fba3ea77b2176c2e390a6dad .av-special-heading-tag{
padding:0 0 -10px 0;
}
.av-special-heading.av-l0742t0k-51e0e027fba3ea77b2176c2e390a6dad .special-heading-inner-border{
border-color:#ffffff;
}
body .av-special-heading.av-l0742t0k-51e0e027fba3ea77b2176c2e390a6dad .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-l0742t0k-51e0e027fba3ea77b2176c2e390a6dad .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

.av_textblock_section.av-l0743erl-928c49031b98970fa8554992f69bc07f .avia_textblock{
color:#ffffff;
}

.avia-section.av-18bmrb-dac1ab02c1f090a996884d22acd9bcee{
background-color:#ffffff;
}

#top .av-special-heading.av-v84zr-5f839837102f9b8fc0359de5b96d2fbc{
padding-bottom:10px;
}

