.flex_column.av-5a50rm-1c02e5c56006f04c2f3593b0b064b441{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-kapjgfhz-614d4b870d353a3e081bbe71e1e0e470{
padding-bottom:10px;
}

.flex_column.av-2i9zgy-674f55c7f03576dc8cb3da81666a1897{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-k8yi8jj6-49f1d00eb80d694c6487aa9eb96ada1d{
padding-bottom:10px;
}

.flex_column.av-ckt34-6de06bfd67ef9f3e5f77697c8eec4b25{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jv3yf4xc-47512f495d715263dee1da7b2a53128d .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-we20-9c07f15464cb7aed51d51235fc61a15b{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-l3bkoehf-cfcefed304a790849296f2f409cd0f2d .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-l3bkp7xo-863399effa7541339aacf4efe298440e .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-l3bkqlhv-050fa3209d915a7d0b2d93f6177c97eb .av-image-caption-overlay-center{
color:#ffffff;
}

