.flex_column.av-ijumj-de3d09c26e19a80b9e98b83ae430477d{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-khq0cfcs-9a728ef2b5b003721cb90b01b588e18e{
padding-bottom:10px;
}

.flex_column.av-719gz-b4c4aa76f075105059b782cfd5a295b6{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-khq08r93-7eb22bc0ac3e8a79416d23857ff0407c{
padding-bottom:10px;
}

#top .hr.hr-invisible.av-khnc8ayu-df8abd5a711b52d9243fd2ae2f648576{
height:50px;
}

.flex_column.av-e5b2b-f3d073be2f9c4b3fb45573788478d31d{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-aai5f-b51ca7de29d201c31aea393c47815133{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

