.flex_column.av-5a50rm-f25c0670cc0b6d59f53a35767ad2f365{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-kapjgfhz-1f73cc020e92bb62f62609e60bc1384b{
padding-bottom:10px;
}

.flex_column.av-ckt34-22dc46cf82f2a4fbf0b9d5cb0465f7a4{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-l5jn9bhv-76e8dd1eb3cf9b489d0c9d47a84e013a .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-we20-9c07f15464cb7aed51d51235fc61a15b{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-3k7u2v-750c5f009594bf7edd16ce51110dc2e6{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-l5jnc6aj-644796947429a0fa3423b591fffcb6aa .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-ulj247-c75b361a5187e144d3ec7b8b92344d23{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-qsjuyv-cf5fe126bfd725612216b652dd29a24f{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-q6doef-846b2c282cc7460ef5f6fc57361b1454{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-l5jnfj8z-9b01f8faee7460fed1e2ab57046d9a56 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-ogqgfb-f05a4a5e058398ecf8f8372b195f08f3{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-lfmrtj-0b2d0700cbb7b550c68f6fda8f4ccf2f{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-l5jnjw3v-cf47b4a592d661112ccdf3a897211e40 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-12db6f-86d5d0ec73b62624fd40dcfe283a368c{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

