.flex_column.av-5a50rm-9ee8931b264e0fdfaa81ab04c244b07c{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-khkvs1cz-f005fe09276d6f82f7ce6350328aa530{
padding-bottom:10px;
}

.flex_column.av-2i9zgy-674f55c7f03576dc8cb3da81666a1897{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-khkvvsa3-2bf1237168518b8bc5ea6f3845b07bcb{
padding-bottom:10px;
}

.flex_column.av-ckt34-4b160f29fcd614f49da0d8d31d6d4cc8{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.av-horizontal-gallery.av-khks5byq-b9d02dca92c435edee153e1ddc77c9b4{
padding:3.75% 0px;;
}
.av-horizontal-gallery.av-khks5byq-b9d02dca92c435edee153e1ddc77c9b4 .av-horizontal-gallery-inner{
padding-bottom:25%;
}

.flex_column.av-we20-55f11720d570a6ae61b60739fc8cada6{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

