#top .av-special-heading.av-av_heading-b95a463c9bd2e9d43133e36643383b23{
padding-bottom:10px;
}

#top .togglecontainer.av-av_toggle_container-fc56e796f198dded4dfe07de09a0ac10 p.toggler{
color:#ffffff;
background-color:#969696;
border-color:#ffffff;
}
#top .togglecontainer.av-av_toggle_container-fc56e796f198dded4dfe07de09a0ac10 p.toggler.activeTitle{
color:#ffffff;
border-color:#ffffff;
background-color:#b02b2c;
}
#top .togglecontainer.av-av_toggle_container-fc56e796f198dded4dfe07de09a0ac10 p.toggler:not(.activeTitle):hover{
color:#000000;
background-color:#cccccc;
}
#top .togglecontainer.av-av_toggle_container-fc56e796f198dded4dfe07de09a0ac10 p.toggler:not(.activeTitle):hover .toggle_icon, #top .togglecontainer.av-av_toggle_container-fc56e796f198dded4dfe07de09a0ac10 p.toggler:not(.activeTitle):hover .toggle_icon *{
border-color:#000000 !important;
}
#top .togglecontainer.av-av_toggle_container-fc56e796f198dded4dfe07de09a0ac10 p.toggler .toggle_icon{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-av_toggle_container-fc56e796f198dded4dfe07de09a0ac10 p.toggler .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-av_toggle_container-fc56e796f198dded4dfe07de09a0ac10 p.toggler.activeTitle .toggle_icon, #top .togglecontainer.av-av_toggle_container-fc56e796f198dded4dfe07de09a0ac10 p.toggler.activeTitle .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-av_toggle_container-fc56e796f198dded4dfe07de09a0ac10 .toggle_wrap .toggle_content{
color:#ffffff;
background-color:#969696;
border-color:#ffffff;
}

#top .av-special-heading.av-av_heading-2d1d8e84f030c83d80c79a860da994d7{
padding-bottom:10px;
}

#top .togglecontainer.av-lb0yua69-59dd8046f0b1f1643429d6365ea1d7c2 p.toggler{
color:#ffffff;
background-color:#969696;
border-color:#ffffff;
}
#top .togglecontainer.av-lb0yua69-59dd8046f0b1f1643429d6365ea1d7c2 p.toggler.activeTitle{
color:#ffffff;
border-color:#ffffff;
background-color:#b02b2c;
}
#top .togglecontainer.av-lb0yua69-59dd8046f0b1f1643429d6365ea1d7c2 p.toggler:not(.activeTitle):hover{
color:#000000;
background-color:#cccccc;
}
#top .togglecontainer.av-lb0yua69-59dd8046f0b1f1643429d6365ea1d7c2 p.toggler:not(.activeTitle):hover .toggle_icon, #top .togglecontainer.av-lb0yua69-59dd8046f0b1f1643429d6365ea1d7c2 p.toggler:not(.activeTitle):hover .toggle_icon *{
border-color:#000000 !important;
}
#top .togglecontainer.av-lb0yua69-59dd8046f0b1f1643429d6365ea1d7c2 p.toggler .toggle_icon{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lb0yua69-59dd8046f0b1f1643429d6365ea1d7c2 p.toggler .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lb0yua69-59dd8046f0b1f1643429d6365ea1d7c2 p.toggler.activeTitle .toggle_icon, #top .togglecontainer.av-lb0yua69-59dd8046f0b1f1643429d6365ea1d7c2 p.toggler.activeTitle .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lb0yua69-59dd8046f0b1f1643429d6365ea1d7c2 .toggle_wrap .toggle_content{
color:#ffffff;
background-color:#969696;
border-color:#ffffff;
}

.avia-section.av-l079ds8d-5a552d8bcac84ab888443cf20ca74a10{
background-color:#000000;
}

#top .av-special-heading.av-l079hl53-42cfa47d2210f93b4f3af37ed77eeba9{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-l079hl53-42cfa47d2210f93b4f3af37ed77eeba9 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-l079hl53-42cfa47d2210f93b4f3af37ed77eeba9 .av-subheading{
font-size:15px;
color:#ffffff;
}
body .av-special-heading.av-l079hl53-42cfa47d2210f93b4f3af37ed77eeba9 .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-l079hl53-42cfa47d2210f93b4f3af37ed77eeba9 .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

.av_textblock_section.av-l078r6lf-7407cd7ab6c308cbbf379a783375151e .avia_textblock{
color:#000000;
}

