.flex_column.av-ijumj-de3d09c26e19a80b9e98b83ae430477d{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-efsdn-ed705fabf46258be59fa40ba45760bcb{
padding-bottom:10px;
}

.flex_column.av-719gz-b4c4aa76f075105059b782cfd5a295b6{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-jw1ue3ri-a0b5704fd0e412243e8e64424c45a175{
padding-bottom:10px;
}

.flex_column.av-e5b2b-f3d073be2f9c4b3fb45573788478d31d{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jv43di3c-396a1056983f2511e80a91d365954dc0 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-aai5f-b51ca7de29d201c31aea393c47815133{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

