#top .av-special-heading.av-36j13-5ff4ef526775a679b4290b3d46291396{
padding-bottom:10px;
}

.avia-section.av-3dsdf-990af66358fa3daa98668c5c4cf3723e{
background-color:#000000;
}

#top .av-special-heading.av-1hdbz-a0238b34c7f93583bd52ae68c57ada38{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-1hdbz-a0238b34c7f93583bd52ae68c57ada38 .special-heading-inner-border{
border-color:#ffffff;
}
body .av-special-heading.av-1hdbz-a0238b34c7f93583bd52ae68c57ada38 .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-1hdbz-a0238b34c7f93583bd52ae68c57ada38 .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

.avia-image-container.av-kzvqp0h4-4c446120476f4e867e9aef068494737e .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-section.av-2pycj-1aab46e2891e64b95491b172a01f2190{
background-color:#000000;
}

#top .av-special-heading.av-kzv5g6t4-7d2e5423103a5e62e74e4f36b42cab9d{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-kzv5g6t4-7d2e5423103a5e62e74e4f36b42cab9d .special-heading-inner-border{
border-color:#ffffff;
}
body .av-special-heading.av-kzv5g6t4-7d2e5423103a5e62e74e4f36b42cab9d .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-kzv5g6t4-7d2e5423103a5e62e74e4f36b42cab9d .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

.av_textblock_section.av-l3ln4g4a-0346be96e73ff61249e71e819e9738a2 .avia_textblock{
color:#ffffff;
}

.avia-image-container.av-l3ln3sn7-6755cc47f711b85cc588fdb28fc10e0a .av-image-caption-overlay-center{
color:#ffffff;
}

.av_textblock_section.av-l3lmxouw-6a73d9420b148db5a3f632e2e12594c4 .avia_textblock{
color:#ffffff;
}

.avia-image-container.av-l3lmyxf7-f6abd0a09b03843747eb92c69ed098e9 .av-image-caption-overlay-center{
color:#ffffff;
}

.av_textblock_section.av-l3ln97z4-b00c95dd86e693b19f37cd399368dce6 .avia_textblock{
color:#ffffff;
}

.avia-image-container.av-l3ln9zgl-7279ac2cc98f38990abf558a11b00481 .av-image-caption-overlay-center{
color:#ffffff;
}

.av_textblock_section.av-l3ln6h05-ea8f629f4c289c833b6be8a43f24ea28 .avia_textblock{
color:#ffffff;
}

.avia-image-container.av-l3ln766r-03c0dd068b39b3162d2e01e0046b961e .av-image-caption-overlay-center{
color:#ffffff;
}

.av_textblock_section.av-l3lna6r6-b51f06b8c3b240d0db0a6306fec0cfaa .avia_textblock{
color:#ffffff;
}

.avia-image-container.av-l3lnavu3-7f1f063f7de082ed449f9ba45fd2ef96 .av-image-caption-overlay-center{
color:#ffffff;
}

.av_textblock_section.av-l3lnbdjy-8707b00302057572baa0eb52c996ccd7 .avia_textblock{
color:#ffffff;
}

.avia-image-container.av-l3lnc3k5-ce88e7dbea88eff1ffe98e6df4e73927 .av-image-caption-overlay-center{
color:#ffffff;
}

.av_textblock_section.av-l3lneiwb-18dbcfafa9b14585664330753ad5ffcc .avia_textblock{
color:#ffffff;
}

.avia-image-container.av-l3lnf83f-22058b360d4d7462ff69176681e92708 .av-image-caption-overlay-center{
color:#ffffff;
}

.av_textblock_section.av-l3lnfq58-013c74e776c80b62ed4430d75de14037 .avia_textblock{
color:#ffffff;
}

.avia-image-container.av-l3lngeh2-29869a30fea1e7e542235944a1ac9851 .av-image-caption-overlay-center{
color:#ffffff;
}

.av_textblock_section.av-l3lngt7h-ee69eb8e4631998be5b40c034a728ab1 .avia_textblock{
color:#ffffff;
}

.avia-image-container.av-l3lnhhyz-6082519d61c661277f5226874cc2c75e .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-section.av-17x1yz-1f17b8f9c17afac34fe6628c5bbac2e1{
background-color:#ffffff;
}

#top .av-special-heading.av-oygo3-10cdddc53325d009f8540cb40f37495c{
padding-bottom:10px;
}

.avia-section.av-l1dx4vkd-c7188d2db653ab3a081d040e8058d944{
background-color:#ffffff;
}

.avia-image-container.av-rgz5n-0d0a7378103fb6960a6a7ae370ca09cf .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-section.av-19l9er-996b2a39a8a575a747085649036b71b1{
background-color:#000000;
}

#top .av-special-heading.av-r8263-52f5d166e11815cd96450572206d75ab{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-r8263-52f5d166e11815cd96450572206d75ab .special-heading-inner-border{
border-color:#ffffff;
}
body .av-special-heading.av-r8263-52f5d166e11815cd96450572206d75ab .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-r8263-52f5d166e11815cd96450572206d75ab .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

.avia-section.av-29zkpf-41a5333a2269a3370d4b41cf2997cbd7{
background-color:#000000;
}

#top .av-special-heading.av-1jla23-36acb167b47e29f854ecd76522b54c72{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-1jla23-36acb167b47e29f854ecd76522b54c72 .special-heading-inner-border{
border-color:#ffffff;
}
body .av-special-heading.av-1jla23-36acb167b47e29f854ecd76522b54c72 .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-1jla23-36acb167b47e29f854ecd76522b54c72 .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

.av_textblock_section.av-1f3ckz-4bf598cb5d61635aad427fae2524d94a .avia_textblock{
color:#ffffff;
}

