.flex_column.av-5a50rm-f25c0670cc0b6d59f53a35767ad2f365{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-kapjgfhz-defe8385668e78e448fbe95a93ad7f35{
padding-bottom:10px;
}

.flex_column.av-ckt34-22dc46cf82f2a4fbf0b9d5cb0465f7a4{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jv3yf4xc-5d0f65e3552d6bba7f14674d2ba8151a .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-we20-9c07f15464cb7aed51d51235fc61a15b{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-av_three_fifth-f7c1061df29de8cca6b42fcf455fe4a0{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-av_three_fifth-f7c1061df29de8cca6b42fcf455fe4a0{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-av_three_fifth-f7c1061df29de8cca6b42fcf455fe4a0{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-av_three_fifth-f7c1061df29de8cca6b42fcf455fe4a0{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-l4dt4tq0-debc6544edb8fbfe1521a2aab68e49d8 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-av_one_third-25347b0a799d5b9f7058434b2a9c3182{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-l4dtfdiz-3da8eb6df2e67d212b5e07240f372c26 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-av_one_third-f7c1061df29de8cca6b42fcf455fe4a0{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-av_one_third-f7c1061df29de8cca6b42fcf455fe4a0{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-l4dtisnn-b593c21a54e97713c4ba5f8ca81eed50 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-l4dtogp7-1e43d9bc1a4a06a387d5355efc7f4fb8 .av-image-caption-overlay-center{
color:#ffffff;
}

