.avia-section.av-kzx7a4kv-d651e266d418ec997f4e2bfc3f2f7eb6{
background-color:#ffffff;
}

.flex_column.av-dt6j-28a107ecebcd6d35475bddd86d55db44{
background-color:#ffffff;
}

#top .av-special-heading.av-36j13-496ccbc6db845f1f52bbc921a7ff946d{
padding-bottom:10px;
}

#top .hr.hr-invisible.av-kzx7olbe-a529887cfc50d5b36d2253553f67691e{
height:20px;
}

.avia-section.av-3dsdf-990af66358fa3daa98668c5c4cf3723e{
background-color:#000000;
}

#top .av-special-heading.av-1hdbz-fa5d6a49f5b843aff5729f465bf105d6{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-1hdbz-fa5d6a49f5b843aff5729f465bf105d6 .special-heading-inner-border{
border-color:#ffffff;
}
body .av-special-heading.av-1hdbz-fa5d6a49f5b843aff5729f465bf105d6 .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-1hdbz-fa5d6a49f5b843aff5729f465bf105d6 .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

#top .hr.hr-invisible.av-7tsvi-df0f0255c1bf87c3a2da06f1256b0104{
height:20px;
}

.avia-image-container.av-kzx5e0v9-b262c280cf879d87235f8a7ffd45965d .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-dl65i-37539dd8249d75013fa77a4ae2b640b6{
height:20px;
}

.av_textblock_section.av-kzx5fyv9-cc5a00c5cf1db523de34cec1a8bbedd1 .avia_textblock{
color:#ffffff;
}

#top .hr.hr-invisible.av-wuom-0fbb2334f742f00777b4e5b0b941a8cf{
height:20px;
}

.avia-image-container.av-kzx6g05l-0a5ec56049d2ac834dc989d22cd930d2 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-section.av-2pycj-e39ebc02c5dff7bf0c72ab0158497e45{
background-color:#ffffff;
}

#top .av-special-heading.av-kzv5g6t4-ffbd8139eb0be542ea7f13cf6e673c95{
padding-bottom:10px;
}

#top .hr.hr-invisible.av-bcvpy-51b87a7890f572916c2fb55868ef203f{
height:20px;
}

.avia-section.av-29v6ku-e84abe8c6b2d386eed86c6b56b1cc754{
background-color:#000000;
}

#top .av-special-heading.av-kt1i-71e6811aeeb2f33974256b963c870967{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-kt1i-71e6811aeeb2f33974256b963c870967 .special-heading-inner-border{
border-color:#ffffff;
}
body .av-special-heading.av-kt1i-71e6811aeeb2f33974256b963c870967 .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-kt1i-71e6811aeeb2f33974256b963c870967 .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

.av_textblock_section.av-1h8ieu-4475aaf1785e40320689f28c28bf5010 .avia_textblock{
color:#ffffff;
}

