#top .av-special-heading.av-l4injs1w-71439ec4e8728f1fee0a2bbcb2276874{
padding-bottom:10px;
}

.avia-image-container.av-l837ou9f-b7dc63d57ff4d087dbff0a3b8f3db50a .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-l7gak5w2-d6ce963ff836b1d1d5d2868cc2218764{
padding-bottom:10px;
}

.avia-image-container.av-l7ganf56-c1574a93f19ec03e78d421f6c8bdcd52 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-l7gashyg-41374d82f294d269f7fed94dd3e05b62 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-l7garfq1-aea3b0dd22ec7f615578daf1b2e2fcac{
padding-bottom:10px;
}

#top .av-special-heading.av-l7gaw54h-ec5a4d67dd07f6607572000431b95a9e{
padding-bottom:10px;
}

.avia-image-container.av-l7gax29k-db967685fd249aa02ba0520ac7d9260f .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-l8350bx7-b8442a32ed020adf75cfabfc900a1186 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-l834zp2s-80d7b33abb53e7dab068beafe035b094{
padding-bottom:10px;
}

#top .av-special-heading.av-l8351ioj-6a7b2f04d266354c4bd156d0d7f002d2{
padding-bottom:10px;
}

.avia-image-container.av-l835204r-3ae0c83f96008e8708ca0c6dd08ae05e .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-v95r1t-2e00c4b4e37d7ec440ccd2a4da0a1b08 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-qp6bwh-c36a905ea61d300530f542745dbf5ea9{
padding-bottom:10px;
}

#top .av-special-heading.av-l83558pm-979539db04a2aec3b35b3a154030a790{
padding-bottom:10px;
}

.avia-image-container.av-l8355r2a-b1fe7724e4c3a403deee9dbea41aef6f .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-l8356sas-c919f787574e82601a8e33273e71aee9 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-l8356cfu-1dece042559563ec3f1f07752cfbe481{
padding-bottom:10px;
}

#top .av-special-heading.av-l8357u4q-4037e8947699d8cde993f249e463d6a0{
padding-bottom:10px;
}

.avia-image-container.av-l83583dm-2ef20e1ad6dee02ee9671c4db5649eaf .av-image-caption-overlay-center{
color:#ffffff;
}

#top .av-special-heading.av-l837yw1l-0f33555b92af1138eb4a26078a30ce84{
padding-bottom:10px;
}

.avia-section.av-29v6ku-e84abe8c6b2d386eed86c6b56b1cc754{
background-color:#000000;
}

#top .av-special-heading.av-kt1i-71e6811aeeb2f33974256b963c870967{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-kt1i-71e6811aeeb2f33974256b963c870967 .special-heading-inner-border{
border-color:#ffffff;
}
body .av-special-heading.av-kt1i-71e6811aeeb2f33974256b963c870967 .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-kt1i-71e6811aeeb2f33974256b963c870967 .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

.av_textblock_section.av-1h8ieu-4475aaf1785e40320689f28c28bf5010 .avia_textblock{
color:#ffffff;
}

