.avia-image-container.av-l837ou9f-8dd7dba5eb81c6bf084fbfd01afcd749 .av-image-caption-overlay-center{
color:#ffffff;
}

#top #wrap_all .avia-button.av-1xhuzy-c3c9d0b3019678aa2136121449da3936:hover{
color:white;
transition:all 0.4s ease-in-out;
-webkit-transition:all 0.4s ease-in-out;
-moz-transition:all 0.4s ease-in-out;
-ms-transition:all 0.4s ease-in-out;
-o-transition:all 0.4s ease-in-out;
}

#top .av-special-heading.av-l9wx060e-65dd4330d57711eb0bcbe96877c543c1{
padding-bottom:10px;
}

#top .hr.hr-invisible.av-l9x1u6ee-6f88bf313dbf0f186d277637657a9f3c{
height:50px;
}

.av_textblock_section.av-l9x1ru1q-595b915a8019d3d2a3edc1d80d59c2d1 .avia_textblock{
color:#000000;
}

#top .av-special-heading.av-l9x1w2z3-b653119ee4ea65a38b32600d3ebf9bb7{
padding-bottom:10px;
color:#000000;
}
.av-special-heading.av-l9x1w2z3-b653119ee4ea65a38b32600d3ebf9bb7 .special-heading-inner-border{
border-color:#000000;
}

#top .hr.hr-invisible.av-2622oe-75128dc6e3c0fa396b7c2655667f0823{
height:50px;
}

.avia-image-container.av-80hiq6-7c2d6623d7db5f8a6a7b2e28ff5d5336 .av-image-caption-overlay-center{
color:#ffffff;
}

.av_textblock_section.av-3p9tbi-a251c4f1fc9410df7f7f0d8e658caf4f .avia_textblock{
color:#ffffff;
}

#top .av-special-heading.av-kt1i-6398756e9319c7cab23b962d2742eefb{
padding-bottom:10px;
}

