#top .av-special-heading.av-36j13-4e6e5e3bc528495495f4b6a846d874f7{
padding-bottom:10px;
}

.avia-section.av-3dsdf-990af66358fa3daa98668c5c4cf3723e{
background-color:#000000;
}

#top .av-special-heading.av-1hdbz-f9dc65e436570feab38932f2271dcf2c{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-1hdbz-f9dc65e436570feab38932f2271dcf2c .special-heading-inner-border{
border-color:#ffffff;
}
body .av-special-heading.av-1hdbz-f9dc65e436570feab38932f2271dcf2c .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-1hdbz-f9dc65e436570feab38932f2271dcf2c .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

.avia-section.av-2pycj-1aab46e2891e64b95491b172a01f2190{
background-color:#000000;
}

#top .av-special-heading.av-kzv5g6t4-0ae3cd4911961142eb13df15ed27d6ce{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-kzv5g6t4-0ae3cd4911961142eb13df15ed27d6ce .special-heading-inner-border{
border-color:#ffffff;
}
body .av-special-heading.av-kzv5g6t4-0ae3cd4911961142eb13df15ed27d6ce .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-kzv5g6t4-0ae3cd4911961142eb13df15ed27d6ce .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

#top .av-special-heading.av-l4r0by95-256636350d15209d732f2164b98bbae7{
padding-bottom:10px;
}

.avia-image-container.av-l4r0fosx-342119053faba6b594b54f5076443a0a .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-l4r0gmnk-6c1b507ad53afc22f374b2ae959c0ef8 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-l4r0hebz-5f064a574d9423ae9f6efc34068d3f6e .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-section.av-av_section-893224469f20f3dd3556528595daae48{
background-color:#000000;
}

#top .av-special-heading.av-av_heading-9d727c871ef21ffaf059ba41207e928c{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-av_heading-9d727c871ef21ffaf059ba41207e928c .special-heading-inner-border{
border-color:#ffffff;
}
body .av-special-heading.av-av_heading-9d727c871ef21ffaf059ba41207e928c .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-av_heading-9d727c871ef21ffaf059ba41207e928c .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

.avia-section.av-4qvyr-dbf52b5926b8c4112990b6b8a15d8c92{
background-color:#000000;
}

#top .av-special-heading.av-l07snr2x-7e6ce1985f2708edf9d70af580dbb6d0{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-l07snr2x-7e6ce1985f2708edf9d70af580dbb6d0 .special-heading-inner-border{
border-color:#ffffff;
}
body .av-special-heading.av-l07snr2x-7e6ce1985f2708edf9d70af580dbb6d0 .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-l07snr2x-7e6ce1985f2708edf9d70af580dbb6d0 .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

.av_textblock_section.av-l07t1d1y-65dc8f6185462e49853f14ef76833127 .avia_textblock{
color:#ffffff;
}

