.flex_column.av-5a50rm-9ee8931b264e0fdfaa81ab04c244b07c{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-kg8zprhy-8bc773bb3c178d76e4c47cea571cf436{
padding-bottom:10px;
}

.flex_column.av-2i9zgy-674f55c7f03576dc8cb3da81666a1897{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-kfz70sow-8b1ab982551bc07093d7f12d2dc707f6{
padding-bottom:10px;
}

.flex_column.av-ckt34-4b160f29fcd614f49da0d8d31d6d4cc8{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jv3yf4xc-1b6c81fb3af01fd58088c5e1434c8589 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-we20-d31b1cb28f602daaace0c83641413ddd{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

