.flex_column.av-5a50rm-1c02e5c56006f04c2f3593b0b064b441{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-k43zsk8e-7c79960f2b613e40befe3fae28ce1870{
padding-bottom:10px;
}

.flex_column.av-2i9zgy-674f55c7f03576dc8cb3da81666a1897{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-k02p0dip-c75655af572bb1ef8b61e396267c8fff{
padding-bottom:10px;
}

.flex_column.av-ckt34-6de06bfd67ef9f3e5f77697c8eec4b25{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jv3yf4xc-3ec9d894ed1bd3a4ac4fc9d3c48391e2 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-we20-9c07f15464cb7aed51d51235fc61a15b{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

