.avia-section.av-av_section-893224469f20f3dd3556528595daae48{
background-color:#000000;
}

.avia-section.av-av_section-893224469f20f3dd3556528595daae48{
background-color:#000000;
}

.avia-section.av-av_section-893224469f20f3dd3556528595daae48{
background-color:#000000;
}

.avia-section.av-av_section-893224469f20f3dd3556528595daae48{
background-color:#000000;
}

.avia-section.av-av_section-893224469f20f3dd3556528595daae48{
background-color:#000000;
}

.avia-section.av-av_section-893224469f20f3dd3556528595daae48{
background-color:#000000;
}

.avia-section.av-av_section-893224469f20f3dd3556528595daae48{
background-color:#000000;
}

#top .av-special-heading.av-la8qbyer-213c301056adfbfa330462d93bef7dee{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-la8qbyer-213c301056adfbfa330462d93bef7dee .special-heading-inner-border{
border-color:#ffffff;
}

#top .av-special-heading.av-la8qcioj-6def7132283a7819b84104992dc5cbad{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-la8qcioj-6def7132283a7819b84104992dc5cbad .special-heading-inner-border{
border-color:#ffffff;
}

#top .av-special-heading.av-la8qdklm-e0686f215cb9a6c6c61b6302a2d30df8{
padding-bottom:0px;
color:#ffffff;
}
.av-special-heading.av-la8qdklm-e0686f215cb9a6c6c61b6302a2d30df8 .av-special-heading-tag{
padding:0 0 -30px 0;
}
.av-special-heading.av-la8qdklm-e0686f215cb9a6c6c61b6302a2d30df8 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-la8qdklm-e0686f215cb9a6c6c61b6302a2d30df8 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-la8qe30c-8243aa69023415c27e8c95ab4987f974{
padding-bottom:0px;
color:#ffffff;
}
.av-special-heading.av-la8qe30c-8243aa69023415c27e8c95ab4987f974 .av-special-heading-tag{
padding:0 0 -30px 0;
}
.av-special-heading.av-la8qe30c-8243aa69023415c27e8c95ab4987f974 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-la8qe30c-8243aa69023415c27e8c95ab4987f974 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-la8qex00-1d33941fc1922d6dceed36e9ef1c905b{
padding-bottom:0px;
color:#ffffff;
}
.av-special-heading.av-la8qex00-1d33941fc1922d6dceed36e9ef1c905b .av-special-heading-tag{
padding:0 0 -30px 0;
}
.av-special-heading.av-la8qex00-1d33941fc1922d6dceed36e9ef1c905b .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-la8qex00-1d33941fc1922d6dceed36e9ef1c905b .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-la8q7xct-5f7775dc16583ca71339707f180c0100{
padding-bottom:10px;
}
.av-special-heading.av-la8q7xct-5f7775dc16583ca71339707f180c0100 .av-subheading{
font-size:15px;
}

