.avia-section.av-7ugbr-03e620af1801bd99a47a5b3338b7610b{
background-color:#000000;
}

#top .av-special-heading.av-5wfnb-2a30f5b7976aaf80f013d878ff91d4ee{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-5wfnb-2a30f5b7976aaf80f013d878ff91d4ee .special-heading-inner-border{
border-color:#ffffff;
}
body .av-special-heading.av-5wfnb-2a30f5b7976aaf80f013d878ff91d4ee .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-5wfnb-2a30f5b7976aaf80f013d878ff91d4ee .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

.av_textblock_section.av-i4nv-f4d8a1b4bfb734dd0695eab2a4c9d0b4 .avia_textblock{
color:#ffffff;
}

