.flex_column.av-ijumj-de3d09c26e19a80b9e98b83ae430477d{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-khqap15d-3c3693c0f2756eaf97389a199fbfc4ed{
padding-bottom:10px;
}

.flex_column.av-719gz-b4c4aa76f075105059b782cfd5a295b6{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-khq9ez1s-9c7d943de37477323402818cced3dcb5{
padding-bottom:10px;
}

#top .hr.hr-invisible.av-khnccwmn-99efcd0e6e82bd537ea2a9283c4da590{
height:50px;
}

.flex_column.av-e5b2b-f3d073be2f9c4b3fb45573788478d31d{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-aai5f-b51ca7de29d201c31aea393c47815133{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

