.flex_column.av-5a50rm-1c02e5c56006f04c2f3593b0b064b441{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-jzlincvw-251feebf4dd5acecc50cc7cb3ff1348b{
padding-bottom:10px;
color:#000000;
}
.av-special-heading.av-jzlincvw-251feebf4dd5acecc50cc7cb3ff1348b .special-heading-inner-border{
border-color:#000000;
}

.flex_column.av-2i9zgy-674f55c7f03576dc8cb3da81666a1897{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-jzlhdwex-d0a966b8605cf12410b1ee964b45f5fd{
padding-bottom:10px;
}

.flex_column.av-ckt34-6de06bfd67ef9f3e5f77697c8eec4b25{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jx902f1s-dceb85da9282bb6f90a1abb523cbae80 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-jv3yf4xc-441cb5428dd1acde48a2347f751e0bde .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-we20-9c07f15464cb7aed51d51235fc61a15b{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

