#top .av-special-heading.av-36j13-976b4f86a67390213003a61583924a6a{
padding-bottom:10px;
}

.avia-section.av-3dsdf-990af66358fa3daa98668c5c4cf3723e{
background-color:#000000;
}

#top .av-special-heading.av-1hdbz-fca8e8c41df997dd2bca6a84dfc9c6e7{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-1hdbz-fca8e8c41df997dd2bca6a84dfc9c6e7 .special-heading-inner-border{
border-color:#ffffff;
}
body .av-special-heading.av-1hdbz-fca8e8c41df997dd2bca6a84dfc9c6e7 .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-1hdbz-fca8e8c41df997dd2bca6a84dfc9c6e7 .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

#top .av-special-heading.av-l4s3kez0-83842cc6a45d342fbc55ec34b2cfc48f{
padding-bottom:10px;
}

.avia-image-container.av-l4s3ork5-c12256b1b2f5ac316c9c885b0b750818 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-l4s3p7ec-b25c47d570bef310fbf4d9c69a520d36 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-l4s3pj7h-39127657be62b89f41e9c0427e24e920 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-section.av-2pycj-1aab46e2891e64b95491b172a01f2190{
background-color:#000000;
}

#top .av-special-heading.av-kzv5g6t4-847e366557386e0a8986fbdd19337760{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-kzv5g6t4-847e366557386e0a8986fbdd19337760 .special-heading-inner-border{
border-color:#ffffff;
}
body .av-special-heading.av-kzv5g6t4-847e366557386e0a8986fbdd19337760 .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-kzv5g6t4-847e366557386e0a8986fbdd19337760 .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

.avia-section.av-4qvyr-dbf52b5926b8c4112990b6b8a15d8c92{
background-color:#000000;
}

#top .av-special-heading.av-l07snr2x-fa8a5b8bb88b0a4df716b08ba492d326{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-l07snr2x-fa8a5b8bb88b0a4df716b08ba492d326 .special-heading-inner-border{
border-color:#ffffff;
}
body .av-special-heading.av-l07snr2x-fa8a5b8bb88b0a4df716b08ba492d326 .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-l07snr2x-fa8a5b8bb88b0a4df716b08ba492d326 .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

.av_textblock_section.av-l07t1d1y-65dc8f6185462e49853f14ef76833127 .avia_textblock{
color:#ffffff;
}

