.flex_column.av-5a50rm-9ee8931b264e0fdfaa81ab04c244b07c{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-kggk5xk1-c610ae3c7aa60dbff0c676c4506e4e68{
padding-bottom:10px;
}

.flex_column.av-2i9zgy-674f55c7f03576dc8cb3da81666a1897{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-kfz70sow-8b1ab982551bc07093d7f12d2dc707f6{
padding-bottom:10px;
}

.flex_column.av-ckt34-4b160f29fcd614f49da0d8d31d6d4cc8{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jv3yf4xc-141496f3b290cde31f7de66d53a8a20c .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-we20-d31b1cb28f602daaace0c83641413ddd{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

