.flex_column.av-5a50rm-9ee8931b264e0fdfaa81ab04c244b07c{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-kh08uu9c-e8657a4d556400ed5b72b55f78f0bdfd{
padding-bottom:10px;
}

.flex_column.av-2i9zgy-674f55c7f03576dc8cb3da81666a1897{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-kggh1zua-8011ce04a9747dd01689ca5c26489c67{
padding-bottom:10px;
}

.flex_column.av-ckt34-4b160f29fcd614f49da0d8d31d6d4cc8{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jv3yf4xc-ce957340ab4225e68368e57027f600be .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-we20-d31b1cb28f602daaace0c83641413ddd{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

