#top .av-special-heading.av-kx3qktoq-8d904c5be7b1d5be7d9ba0885d10c8ab{
padding-bottom:10px;
}

.avia-section.av-vwy8-011292b887b131b1c7e9f584ef842fae{
background-color:#000000;
}

#top .av-special-heading.av-kx3q52u6-3783a1b6a6e4b2dd46ea4daf967ac0a1{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-kx3q52u6-3783a1b6a6e4b2dd46ea4daf967ac0a1 .special-heading-inner-border{
border-color:#ffffff;
}
body .av-special-heading.av-kx3q52u6-3783a1b6a6e4b2dd46ea4daf967ac0a1 .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-kx3q52u6-3783a1b6a6e4b2dd46ea4daf967ac0a1 .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

.avia-image-container.av-kx3vw14v-3231369275d2dfe9753968bc2b6f6c03 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-kx3vwiw1-7fbb92fa9d8611d3402aa0161e86f128 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-av_image-c875ebb9ce30de230ba643157299840c .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-kx3vxdj9-51935b567e9ec025b995a1952c677dca .av-image-caption-overlay-center{
color:#ffffff;
}

