#top .av-special-heading.av-2yztj-44eb60761f7390180774a9b911ea7296{
padding-bottom:10px;
}

#top .av-special-heading.av-2yztj-44eb60761f7390180774a9b911ea7296{
padding-bottom:10px;
}

#top .togglecontainer.av-l1vzuelf-80d7f4e5865788b72e75aed5c0c6fe17 p.toggler{
color:#ffffff;
background-color:#969696;
border-color:#ffffff;
}
#top .togglecontainer.av-l1vzuelf-80d7f4e5865788b72e75aed5c0c6fe17 p.toggler.activeTitle{
color:#ffffff;
border-color:#ffffff;
background-color:#b02b2c;
}
#top .togglecontainer.av-l1vzuelf-80d7f4e5865788b72e75aed5c0c6fe17 p.toggler:not(.activeTitle):hover{
color:#000000;
background-color:#cccccc;
}
#top .togglecontainer.av-l1vzuelf-80d7f4e5865788b72e75aed5c0c6fe17 p.toggler:not(.activeTitle):hover .toggle_icon, #top .togglecontainer.av-l1vzuelf-80d7f4e5865788b72e75aed5c0c6fe17 p.toggler:not(.activeTitle):hover .toggle_icon *{
border-color:#000000 !important;
}
#top .togglecontainer.av-l1vzuelf-80d7f4e5865788b72e75aed5c0c6fe17 p.toggler .toggle_icon{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-l1vzuelf-80d7f4e5865788b72e75aed5c0c6fe17 p.toggler .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-l1vzuelf-80d7f4e5865788b72e75aed5c0c6fe17 p.toggler.activeTitle .toggle_icon, #top .togglecontainer.av-l1vzuelf-80d7f4e5865788b72e75aed5c0c6fe17 p.toggler.activeTitle .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-l1vzuelf-80d7f4e5865788b72e75aed5c0c6fe17 .toggle_wrap .toggle_content{
color:#ffffff;
background-color:#969696;
border-color:#ffffff;
}

#top .togglecontainer.av-l1vzuelf-80d7f4e5865788b72e75aed5c0c6fe17 p.toggler{
color:#ffffff;
background-color:#969696;
border-color:#ffffff;
}
#top .togglecontainer.av-l1vzuelf-80d7f4e5865788b72e75aed5c0c6fe17 p.toggler.activeTitle{
color:#ffffff;
border-color:#ffffff;
background-color:#b02b2c;
}
#top .togglecontainer.av-l1vzuelf-80d7f4e5865788b72e75aed5c0c6fe17 p.toggler:not(.activeTitle):hover{
color:#000000;
background-color:#cccccc;
}
#top .togglecontainer.av-l1vzuelf-80d7f4e5865788b72e75aed5c0c6fe17 p.toggler:not(.activeTitle):hover .toggle_icon, #top .togglecontainer.av-l1vzuelf-80d7f4e5865788b72e75aed5c0c6fe17 p.toggler:not(.activeTitle):hover .toggle_icon *{
border-color:#000000 !important;
}
#top .togglecontainer.av-l1vzuelf-80d7f4e5865788b72e75aed5c0c6fe17 p.toggler .toggle_icon{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-l1vzuelf-80d7f4e5865788b72e75aed5c0c6fe17 p.toggler .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-l1vzuelf-80d7f4e5865788b72e75aed5c0c6fe17 p.toggler.activeTitle .toggle_icon, #top .togglecontainer.av-l1vzuelf-80d7f4e5865788b72e75aed5c0c6fe17 p.toggler.activeTitle .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-l1vzuelf-80d7f4e5865788b72e75aed5c0c6fe17 .toggle_wrap .toggle_content{
color:#ffffff;
background-color:#969696;
border-color:#ffffff;
}

#top .av-special-heading.av-5mzu7-fc728aa26a9d89768f459f110839a827{
padding-bottom:10px;
}

#top .av-special-heading.av-5mzu7-fc728aa26a9d89768f459f110839a827{
padding-bottom:10px;
}

#top .togglecontainer.av-lb0ysitu-43eb0023f99051e1afeaeb501f97d5c0 p.toggler{
color:#ffffff;
background-color:#969696;
border-color:#ffffff;
}
#top .togglecontainer.av-lb0ysitu-43eb0023f99051e1afeaeb501f97d5c0 p.toggler.activeTitle{
color:#ffffff;
border-color:#ffffff;
background-color:#b02b2c;
}
#top .togglecontainer.av-lb0ysitu-43eb0023f99051e1afeaeb501f97d5c0 p.toggler:not(.activeTitle):hover{
color:#000000;
background-color:#cccccc;
}
#top .togglecontainer.av-lb0ysitu-43eb0023f99051e1afeaeb501f97d5c0 p.toggler:not(.activeTitle):hover .toggle_icon, #top .togglecontainer.av-lb0ysitu-43eb0023f99051e1afeaeb501f97d5c0 p.toggler:not(.activeTitle):hover .toggle_icon *{
border-color:#000000 !important;
}
#top .togglecontainer.av-lb0ysitu-43eb0023f99051e1afeaeb501f97d5c0 p.toggler .toggle_icon{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lb0ysitu-43eb0023f99051e1afeaeb501f97d5c0 p.toggler .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lb0ysitu-43eb0023f99051e1afeaeb501f97d5c0 p.toggler.activeTitle .toggle_icon, #top .togglecontainer.av-lb0ysitu-43eb0023f99051e1afeaeb501f97d5c0 p.toggler.activeTitle .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-lb0ysitu-43eb0023f99051e1afeaeb501f97d5c0 .toggle_wrap .toggle_content{
color:#ffffff;
background-color:#969696;
border-color:#ffffff;
}

.avia-section.av-l079ds8d-5a552d8bcac84ab888443cf20ca74a10{
background-color:#000000;
}

.avia-section.av-l079ds8d-5a552d8bcac84ab888443cf20ca74a10{
background-color:#000000;
}

#top .av-special-heading.av-l079hl53-62ea6f51b69d49ff8189ea0f6de6522d{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-l079hl53-62ea6f51b69d49ff8189ea0f6de6522d .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-l079hl53-62ea6f51b69d49ff8189ea0f6de6522d .av-subheading{
font-size:15px;
color:#ffffff;
}
body .av-special-heading.av-l079hl53-62ea6f51b69d49ff8189ea0f6de6522d .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-l079hl53-62ea6f51b69d49ff8189ea0f6de6522d .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

#top .av-special-heading.av-l079hl53-62ea6f51b69d49ff8189ea0f6de6522d{
padding-bottom:10px;
color:#ffffff;
}
.av-special-heading.av-l079hl53-62ea6f51b69d49ff8189ea0f6de6522d .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-l079hl53-62ea6f51b69d49ff8189ea0f6de6522d .av-subheading{
font-size:15px;
color:#ffffff;
}
body .av-special-heading.av-l079hl53-62ea6f51b69d49ff8189ea0f6de6522d .av-special-heading-tag .heading-wrap:before{
border-color:#ffffff;
}
body .av-special-heading.av-l079hl53-62ea6f51b69d49ff8189ea0f6de6522d .av-special-heading-tag .heading-wrap:after{
border-color:#ffffff;
}

.av_textblock_section.av-l078r6lf-7407cd7ab6c308cbbf379a783375151e .avia_textblock{
color:#000000;
}

.av_textblock_section.av-l078r6lf-7407cd7ab6c308cbbf379a783375151e .avia_textblock{
color:#000000;
}

#top .togglecontainer.av-l1vz8vkp-14273f3de4205d7b16ab8514929fe7e2 p.toggler{
color:#ffffff;
background-color:#969696;
border-color:#ffffff;
}
#top .togglecontainer.av-l1vz8vkp-14273f3de4205d7b16ab8514929fe7e2 p.toggler.activeTitle{
color:#ffffff;
border-color:#ffffff;
background-color:#b02b2c;
}
#top .togglecontainer.av-l1vz8vkp-14273f3de4205d7b16ab8514929fe7e2 p.toggler:not(.activeTitle):hover{
color:#000000;
background-color:#cccccc;
}
#top .togglecontainer.av-l1vz8vkp-14273f3de4205d7b16ab8514929fe7e2 p.toggler:not(.activeTitle):hover .toggle_icon, #top .togglecontainer.av-l1vz8vkp-14273f3de4205d7b16ab8514929fe7e2 p.toggler:not(.activeTitle):hover .toggle_icon *{
border-color:#000000 !important;
}
#top .togglecontainer.av-l1vz8vkp-14273f3de4205d7b16ab8514929fe7e2 p.toggler .toggle_icon{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-l1vz8vkp-14273f3de4205d7b16ab8514929fe7e2 p.toggler .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-l1vz8vkp-14273f3de4205d7b16ab8514929fe7e2 p.toggler.activeTitle .toggle_icon, #top .togglecontainer.av-l1vz8vkp-14273f3de4205d7b16ab8514929fe7e2 p.toggler.activeTitle .toggle_icon > span{
color:#ffffff;
border-color:#ffffff;
}
#top .togglecontainer.av-l1vz8vkp-14273f3de4205d7b16ab8514929fe7e2 .toggle_wrap .toggle_content{
color:#ffffff;
background-color:#969696;
border-color:#ffffff;
}

