.flex_column.av-ijumj-de3d09c26e19a80b9e98b83ae430477d{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-khvo6iqf-a493bf2a48cddae49a84086e70cdbf5c{
padding-bottom:10px;
}

.flex_column.av-719gz-b4c4aa76f075105059b782cfd5a295b6{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-kfr2dz9a-6a659484d60f72c6830c91abc0eca5bf{
padding-bottom:10px;
}

.flex_column.av-e5b2b-f3d073be2f9c4b3fb45573788478d31d{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-aai5f-b51ca7de29d201c31aea393c47815133{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

