.flex_column.av-5a50rm-9ee8931b264e0fdfaa81ab04c244b07c{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-kfzmqmw6-655005a9c096fd40f4ef7322f676d987{
padding-bottom:10px;
}

.flex_column.av-2i9zgy-674f55c7f03576dc8cb3da81666a1897{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-kfz70sow-8b1ab982551bc07093d7f12d2dc707f6{
padding-bottom:10px;
}

.flex_column.av-ckt34-6de06bfd67ef9f3e5f77697c8eec4b25{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jv3yf4xc-aab94efba01c29f384a9c2fa50c2f4e7 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-we20-9c07f15464cb7aed51d51235fc61a15b{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

