.flex_column.av-5a50rm-f25c0670cc0b6d59f53a35767ad2f365{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-kapjgfhz-a3bd5053a2e4ad44af389b33dde227cb{
padding-bottom:10px;
}

.flex_column.av-ckt34-22dc46cf82f2a4fbf0b9d5cb0465f7a4{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-l4dz0phn-ec41e9439871221e7a9fe084202b7d06 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-we20-9c07f15464cb7aed51d51235fc61a15b{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-15z7vb9-1bd7ad551bf8d4797ec1f6b65c78648a{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-l4dz2rd6-b82fbd6751ef426f60b54ca1e92d3263 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-111t4h1-9362330522b11c9a99a24f62bd7b9794{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-y6wzph-9c7412968038b27ff244b12a9bdb478d{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-w1ezw5-0d2edc066041d302b679bd97290183a6 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-v33cv9-3cd0c7db3f6030c491a80024daaa435e{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-l4dz4h2y-48a63daf749391833403abfb191f9094 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-skpbt1-d4fc253afa4c52f3a82a78570792e912{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-l4dz4wlt-211d53485e1d018004e5b597ff65155d .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-pdby79-86e17372a9a84fd91d50e03f92daa511{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-mmma3p-235e282dbd44a5a67334aaa8ed9ed5e5{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-kj089x-86d0859b3710023431df719540101849{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-l4dz40td-c79a864c884bdaa19446d77fc04c1443 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-jazv8l-82dc9af22b94db81dd5e314efc64fb31{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-hgggo5-b39c52d0b36a42e22b2f284e98f2a7ab{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-g39eyd-63ef65ef1ce06a9eb81c5134a5bc3917{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-dj50it-57a302a6a9c0448685ac8ca190d576d0{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-bv00ph-dcc9f06f6abb5272ce2b6c12604ff9e9{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-bhn9lx-30b7a989486a61fa5ef2804e2e83681b{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

