.flex_column.av-ijumj-de3d09c26e19a80b9e98b83ae430477d{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-k2771rtc-d280884556adc42137b6a57ef0adbda9{
padding-bottom:10px;
}

.flex_column.av-719gz-b4c4aa76f075105059b782cfd5a295b6{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-k2771836-a1be0feb6e2e4f31b8105250f4a2898e{
padding-bottom:10px;
}

.flex_column.av-aai5f-44350661f11ed10a14df4794cabb12c6{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-e5b2b-e5762fed418a148347e58892a751d10f{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jv43di3c-6d211388a9ec5ee1d0c0a5898bfe0682 .av-image-caption-overlay-center{
color:#ffffff;
}

