.flex_column.av-ijumj-de3d09c26e19a80b9e98b83ae430477d{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-k5qmnlm7-e627db5259ad4188998ab167e9d5d706{
padding-bottom:10px;
}

.flex_column.av-719gz-b4c4aa76f075105059b782cfd5a295b6{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .av-special-heading.av-k5qmct02-e5abba67f33ab000cb4c44d062db3f9f{
padding-bottom:10px;
}

.flex_column.av-e5b2b-f3d073be2f9c4b3fb45573788478d31d{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.avia-image-container.av-jv43di3c-908dff8fe74011b377d6d16abbdf4ef2 .av-image-caption-overlay-center{
color:#ffffff;
}

.avia-image-container.av-jv43di3c-b763e47c2384a4c5b00b5a5914f0e8b3 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-aai5f-b51ca7de29d201c31aea393c47815133{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

